/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html { color: #333; background-color: #fff; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; }
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea { font: 12px/1.5 tahoma, arial, "Microsoft Yahei", "Hiragino Sans GB", \5b8b\4f53; }
input, select, textarea { font-size: 100%; }
textarea { resize: none; }
/* 去掉各Table  cell 的边距并让其边重合 */
table { border-collapse: collapse; border-spacing: 0; }
/* IE bug fixed: th 不继承 text-align*/
th { text-align: inherit; }
/* 去除默认边框 */
fieldset, img { border: 0; }
/* ie6 7 8(q) bug 显示为行内表现 */
iframe { display: block; }
/* 去掉 firefox 下此元素的边框 */
abbr, acronym { border: 0; font-variant: normal; }
/* 一致的 del 样式 */
del { text-decoration: line-through; }
address, caption, cite, code, dfn, em, i, th, var { font-style: normal; font-weight: 500; }
/* 去掉列表前的标识, li 会继承 */
ol, ul { list-style: none; }
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th { text-align: left; }
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500; }
q:before, q:after { content: ''; }
/* 统一上标和下标 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
/* 正常链接 未访问 */
a { color: #3b4a82; cursor: pointer; }
/* 鼠标悬停 */
a:hover { color: #e93100; text-decoration: underline; }
/* 默认不显示下划线，保持页面简洁 */
ins, a { text-decoration: none; }
/* 代码字体 */
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }


.weixinlogo{
	position: absolute;
	top: -500px;
	left: -500px;
}

.clear{
	clear: both;
}

body{
	width: 100%;
	overflow: hidden;
}

.float{
	width: 9999px;
}

.float span{
	float: left;
	position: relative;
}

.float span img{
	position: absolute;
	z-index: 4;
}

.float span .bg{
	top: 0;
	left: 0;
}

